doctype html
html(lang="en") 
	body
		| <style >
		include ../modules/style.css
		| </style>
		.email-outer
			include ../modules/header.jade
			.email-inner
				p Hi #{name},
				p You are recieving this because, hopefully you, have requested for your password to be changed for your Taskful account.
				p Please click on the following link or paste it into your browser to reset your password.
				
				a.reset-link(href="https://#{host}/reset/#{token}") https://#{host}/reset/#{token}
				
				p If you did not request for your password to be changed, please disregard this email. 
				
				p Kind regards, #[br] Team Taskful
