extends layout

block content
	.wrapper
		.contents.center
			.content
				.block
					ul.tabs-selection.block-left
						li.active(data-tab="account") Account
						li(data-tab="billing") Billing
						li(data-tab="plans") Plans
						li(data-tab="integrations") Integrations
						li(data-tab="security") Security
					.block-divider
					.block-right
						.tab-selection.tab-selection_account.tab-selection-active
							h2 Account settings
							p Change your basic account settings
							if (user)
								.form-control
									.field
										label(for="i-username") Username
										input.is--disabled#i-username(type="text", value="#{user.username}")
									.field
										label(for="i-name") Name
										input#i-name(type="text", value="#{user.fullname}")
									.field
										label(for="i-u") User ID
										input#i-u(type="text", value="#{user.id}")
									.field
										label(for="i-email") Email
										input#i-email(type="text", value="#{user.email}")
									.field
										.btn Save preferences
						.tab-selection.tab-selection_billing
							h2 Billing
							p Manage your account billing and payment methods
							.section.section-split
								.section-head
									h3 Your credit
									h3 $0.00
								.btn.btn-block Add credit
							.section.section-split
								.section-head
									h3 Plan
									h3 FREE
								.btn.btn-block Upgrade account
							.section
								.section-head
									h3 Payment methods
									p Add a card to upgrade your account, or just save it for later use
								form#add_method.section-body
									.payment-errors
									.field
										input(type="text", size="20", placeholder="Credit card number", data-stripe="number")
									.field.input-2
										.input-2_contain
											input(type="text", data-stripe="exp_month", placeholder="Expiry month (eg. 08)")
										.input-2_contain
											input(type="text", data-stripe="exp_year", placeholder="Expiry year (eg. 2017)")
									.field.input-2
										.input-2_contain
											input(type="text", data-stripe="cvc", placeholder="CVC")
										.input-2_contain
											input(type="text", data-stripe="address_zip", placeholder="Address postcode/zip")
									.field.has-btn
										.btn.btn-block.save_method Save card
							.section
								.section-head
									h3 Added cards
									p Current cards on your account
								.section-body
									if (cards.length)
										for card in cards
											a.card-item
												.card-item_brand
													img(src='../images/cards/#{card.brand.toLowerCase()}.png')
												.card-item_details
													h4 #{user.fullname}
													p.card-num
														span &bull;&bull;&bull;&bull;
														span &bull;&bull;&bull;&bull;
														span &bull;&bull;&bull;&bull;
														span= card.last4
													p.card-exp Expiry: #{card.exp_month}/#{card.exp_year}
												.card-item_options
													i.ion-arrow-right-b
									else
										h4 No cards in your account just yet
						.tab-selection.tab-selection_plans
							h2 Plans
							p Upgrade or downgrade at any time
						.tab-selection.tab-selection_integrations
							h2 Integrations
							p Add & manage 3rd party integrations
						.tab-selection.tab-selection_security
							h2 Security
							p Monitor the activity of your account
										
block footer
	script(src='https://js.stripe.com/v2/')
	
	script.
		Stripe.setPublishableKey('pk_test_flylE3mEHPlGB03ZuZW8O5XP');
	
	script.
		$(function() {
			$('.save_method').bind('click', function(e) {
				e.preventDefault();
				$('#add_method').submit();
			});
			
			var $form = $('#add_method');
			$form.submit(function(event) {
				$form.find('.save_method').prop('disabled', true);

				Stripe.card.createToken($form, stripeResponseHandler);

				return false;
			});
		});
		function stripeResponseHandler(status, response) {
			var $form = $('#add_method');

			if (response.error) { // Problem!
				console.log(response)
				$form.find('.payment-errors').text(response.error.message).slideDown('fast').delay(9000).slideUp('fast');
				
				if (response.error.param) {
					$('[data-stripe="'+response.error.param+'"]').addClass('input_err');
				}
				$form.find('.save_method').prop('disabled', false); // Re-enable submission

			} else { // Token was created!
				var token = response.id;
				$.post('/payments/token', 'token=' + token, function(data) {
					console.log(data)
				});
				
			}
		};
