extends layout

block content
	.wrapper
		.contents.center
			.content
				.module-head
					h1 Projects	
					a.btn.inline-head.open-modal(data-modal="mod-new_project")
						i.ion-plus
						| New project
				ul.list-header
					li.active Public
					li Private
					li Archived
				.list
					if (projects.length)
						for project in projects
							for result in project
								.list-item
									.list-status
										span.project-status.status_green
									.list-inner
										a(href="/projects/#{result._id}") #{result.name}
										if (result.team)
											p.list-contents #{result.team.name} 
										else 
											p.list-contents.color-yellow Not assigned to a team
										p.created_at Created #{moment(result.created_at).fromNow()}
									.list-right
										.list-options
											span.ion-android-more-vertical.dropdown-toggle
											.dropdown.dropdown-project
												ul
													li #[a.open-modal(data-modal="assign-project") Assign to team]
													li #[a Make private]
													li #[a Change status]
													li #[a Copy project URL]
													li.split
													li.li-red #[a Delete project]
					else
						.empty_content
							h2 You have no projects

block footer
	.modal-overlay
		.modal-overlay-inner
			.view-close.close-modal
				i.icon.ion-close-round
			#mod-new_project.modal-outer.modal-med
				.modal-inner
					.modal-header
						h2 New project
						p Enter a project name and select a team to assign it to
					.modal-body
						.field
							input#new_project(type="text", placeholder="What will you name this project?")
						.field
							.select-dropdown(tabindex="0")
								p.selected_item(placeholder="Select the team to assign the project to")
								ul.select-dropdown_items
									for team in teams
										li.select-dropdown_item(data-team="#{team._id}")
											.text-preview(style="background-color:#{team.color}")
												span= team.name.substr(0,1)
											.select-dropdown_item-text
												p #{team.name}
					.modal-footer.push-footer
						.modal-btn
							a.btn.btn-green.exp_newproject Create Project
			#assign-project.modal-outer.modal-med
				.modal-inner
					.modal-header
						h2 Assign project
						p Assign or unassign this project
					.modal-body
						.field
							.select-dropdown(tabindex="0")
								p.selected_item(placeholder="Select the team to assign the project to")
								ul.select-dropdown_items
									li.select-dropdown_item(data-team="unassign")
										.text-preview(style="background-color:#F8B700")
											span #[i.ion-person]
										.select-dropdown_item-text
											p Keep project personal (Assign no team)
									for team in teams
										li.select-dropdown_item(data-team="#{team._id}")
											.text-preview(style="background-color:#{team.color}")
												span= team.name.substr(0,1)
											.select-dropdown_item-text
												p #{team.name}
					.modal-footer.push-footer
						.modal-btn
							a.btn.btn-green.exp_asproject Assign Project
	script.
		var socket = io();
		$('.select-dropdown_item').bind('click', function() {
			var _this = $(this);
			var _thisID = _this.data('team');
			$('.selected_item').data('team', _thisID);
			$('.selected_item').text(_this.find('p').text());
		});
		$('.exp_newproject').click(function() {
			var projectname = $('#new_project').val();
			var projecteam = $('.selected_item').data('team');
			console.log(projecteam);
			$.post('/projects', 'name=' + projectname + '&team=' + projecteam, function(data) {
				JSON.stringify(data);
				if (data) {
					$('#new_project').val('');
					closeModalOverlay();
					$('.list').append('<div class="list-item new-li"><div class="list-status"><span class="project-status status_green"></span></div><div class="list-inner"><a href="/projects/' + data._id + '">' + data.name + '</a><p>Created a few seconds ago by <strong>' + data.owner.username + '</strong></p></div><div class="list-right"><div class="list-options"><span class="ion-android-more-vertical"></span></div></div></div>');
					$('.new-li').slideDown();
				}
			}).error(function(data) {
				console.log(data);
			});
		});
	
