extends layout

block head
	link(rel="stylesheet", type="text/css", href="../css/code.css")
	script(src='http://codemirror.net/lib/codemirror.js')
	script(src='https://codemirror.net/addon/display/placeholder.js')

block content
	nav.sub-nav
		.sub-nav-inner
			.sub-title
				h1 #{project.name}
			.sub-options
				a.btn.btn-sm.btn-outline New section
	.taskBody-view
		.taskBody-view_inner
			.taskBody-view_innerpadding
				.taskBody-view_contain.taskBody-view_tasks
					.taskBody-view_options
						.taskBody-view_options_inner
							.taskBody-view_options_left
								a.open-modal.color-primary(data-modal="tasks-select") Open tasks
							.taskBody-view_options_right
								a View by: Date of creation #[i.ion-chevron-down]
					#tasks.status_open
						.tasks-list
							for task in tasks
								.task-item(data-task="#{task._id}")
									.rounded(class="#{task.status ? 'toggle selected' : 'toggle'}" )
									a #{task.name}
									.task-info
										p #{moment(task.created_at).fromNow()}
										if task.creator.avatar
											.tooltip
												span #{task.creator.username}
												img(src="/images/#{task.creator.avatar}")
										else
											.tooltip
												span #{task.creator.username}
												img(src="/images/default/user.jpg")
						input#nt(type="text", placeholder="Create a new task")
				.taskBody-view_contain.taskBody-view_task
					.tasks-preview
						.tasks-outer(class=tasks.length == 0 ?  "inner_hidden" : "")
							.tasks-preview-inner
								.tasks-preview-inner_title
									.toggle.rounded
									h1
									.tasks-preview-inner_title_options
										i.ion-android-more-vertical.dropdown-toggle
										.dropdown.dropdown-right
											ul
												li #[a Tags]
												li #[a Print]
												li #[a Copy task URL]
												li.split
												li.li-yellow.archive-task #[a Archive task]
								textarea#project_area.tasks-preview-inner_description(placeholder="Nothing in here yet!")
								.stories
							.tasks-preview-inner_comment
								.user-i
									a #{user.username.substr(0,2)}
								
								.comment-editable
									.comment-editable_inner
										.input-sm.comment-content(contenteditable="true", placeholder="Write a comment...")
										.comment-editable_footer
											.comment-editable_left
												a.attach-files
													i.ion-android-attach
												a.mention
													i.ion-at
											.comment-editable_right
												a.send-comment
													i.ion-android-send
						if (tasks.length == 0)
							h3.is-empty.is-empty_alert No tasks in here!
						
block footer
	.modal-overlay
		.view-close.close-modal
			i.icon.ion-close-round
		.modal-overlay-inner
			#mod-assign.modal-outer.modal-med
				.modal-inner
					.modal-header
						h2 Assign to team
						p Select the team you want to assign #{project.name} to
					.modal-body
						input#assign(type="text")
					.modal-footer
						a.btn.exp_assign Assign to team
			#tasks-select.modal-outer
				a.task-category.tasks-open.border-blue(data-filter="open")
					h3 Open tasks
				a.task-category.tasks-completed.border-green(data-filter="completed")
					h3 Completed tasks
				a.task-category.tasks-archived.border-yellow(data-filter="archived")
					h3 Archived tasks
		
	script.
		var taskElement = '';
		if ($('#project_area').length) {
			var editor = CodeMirror.fromTextArea(document.getElementById("project_area"), {
				lineWrapping: true
			});
			editor.on('change', function (i, op) {
				var _getid = $('.tasks-preview-inner').data('selectedid');
				socket.emit('change', { change: op, task: _getid});
				socket.emit('refresh', { body :editor.getValue(), task: _getid});
			});
		}
		var socket = io();
		socket.emit('pjoin', {room: '#{project._id}'});
		
		socket.on('connect', function(socket) {
			console.log('Socket connection');
		})
		.on('refresh', function (data) {
			var _getid = $('.tasks-preview-inner').data('selectedid');
			var _retid = data.task;
			if (_getid == _retid) {
				editor.setValue(data.body);
				editor.refresh();
			}
		})
		.on('new_story', function (data) {
			var _getid = $('.tasks-preview-inner').data('selectedid');
			var _retid = data.task;
			if (_getid == _retid) {
				readStory(data.story.stories[data.story.stories.length - 1]);
			}
		})
		.on('change', function (data) {
			var _getid = $('.tasks-preview-inner').data('selectedid');
			var _retid = data.task;
			if (_getid == _retid)
				editor.replaceRange(data.change.text, data.change.from, data.change.to);
		})
		.on('new_task', function(res){
			$('.tasks-list').append('<div data-task="' + res._id + '" class="task-item new-task"><div class="toggle rounded"></div><a>' + res.name + '</a><div class="task-info"><p>a few seconds ago</p><div class="tooltip"><span>' + res.creator.username + '</span><img src="/images/default/user.jpg"></div></div></div>')
			$('.new-task').slideDown('fast');
		});
		
		$('.archive-task').bind('click', function(e){
			var _getid = $('.tasks-preview-inner').data('selectedid');
			$.post('/tasks/' + _getid + '/archive', function(data) {
				$('[data-task=' + _getid + ']').slideUp('fast', function() {
					$(this).remove();
				});
			});
		});
		
		$('.tasks-list').on("click", ".toggle", function(e){
			e.stopPropagation();
			var _this = $(this);
			var _getid = _this.closest('.task-item').data('task');
			if (_this.hasClass('selected')) {
				var _action = 'open';
				$('[data-selectedid=' + _getid + ']').find('.toggle').removeClass('selected');
			} else {
				var _action = 'complete';
				$('[data-selectedid=' + _getid + ']').find('.toggle').addClass('selected');
			}
			
			$.post('/tasks/' + _getid + '/' + _action, function(data) {
				if (!$('#tasks').hasClass('status_archived')) { 
					$('[data-task=' + _getid + ']').slideUp('fast', function() {
						$(this).remove();
					});
				}
			});
			$(this).toggleClass('selected');
		});
		
		$('.tasks-preview-inner_title').on("click", ".toggle", function(e){
			var _this = $(this);
			var _getid = _this.closest('.tasks-preview-inner').data('selectedid');
			if ($('[data-task=' + _getid + ']').length)
				taskElement = $('[data-task=' + _getid + ']').outerHTML();
			if (_this.hasClass('selected')) {
				var _action = 'open';
				$('[data-task=' + _getid + ']').find('.toggle').removeClass('selected');
			} else {
				var _action = 'complete';
				$('[data-task=' + _getid + ']').find('.toggle').addClass('selected');
			}
			
			$.post('/tasks/' + _getid + '/' + _action, function(data) {
				if (!$('#tasks').hasClass('status_archived')) { 
					$('[data-task=' + _getid + ']').slideUp('fast', function() {	
						$(this).remove();
					});
					if (_action == 'open') {
						$('.status_open .tasks-list').append(taskElement);
					} else if (_action == 'complete') {
						$('.status_completed .tasks-list').append(taskElement);
					}
				}
			});
		});
		
		$('.send-comment').bind('click', function(e){
			var _getid = $('.tasks-preview-inner').data('selectedid');
			$.post('/tasks/' + _getid + '/stories', 'text=' + $('.comment-content').text(), function(data) {
				console.log(data);
			})
			.done(function() {
				$('.comment-content').text('');
				$('.tasks-preview-inner').scrollTop(1E10);
				animateCommentClose();
			});
		});
		
		$('#nt').bind('keypress', function(e){
			if(e.which == 13) {
				$.post('/tasks', 'name=' + $('#nt').val(), function(data) {
					$('#nt').val('');
				});
			}
		});
		
		$('.task-category').bind("click", function(){
			var _this = $(this);
			var _thisFilter = _this.data('filter');
			$.get('/projects/#{project._id}/' + _thisFilter, function(data) {
				emptyTasksList();
				$.each(data.tasks, function(i, task) {
					genTask(task);
				});
			})
			.done(function() {
				var _that = $('.taskBody-view_options_left .open-modal');
				$('#tasks').removeClass();
				switch(_thisFilter) {
					case 'open':
						_that.text('Open tasks');
						_that.attr('class', 'open-modal color-primary');
						$('#tasks').addClass('status_open');
					break;
					case 'archived':
						_that.text('Archived tasks');
						_that.attr('class', 'open-modal color-yellow');
						$('#tasks').addClass('status_archived');
					break;
					case 'completed':
						_that.text('Completed tasks');
						_that.attr('class', 'open-modal color-green');
						$('#tasks').addClass('status_completed');
					break;
				}
				var _first = $('.task-item:first');
				_first.click();
				closeModalOverlay();
			});
		});
