extends layout

block head
	link(rel="stylesheet", type="text/css", href="http://codemirror.net/lib/codemirror.css")
	link(rel="stylesheet", type="text/css", href="http://codemirror.net/theme/ambiance.css")
	script(src='http://codemirror.net/lib/codemirror.js')
	script(src='http://codemirror.net/addon/mode/overlay.js')
	script(src='http://codemirror.net/mode/gfm/gfm.js')

block content
	nav.sub-nav
		.sub-nav-inner
			.sub-title
				h1 #{project.name}
			.sub-options
				a.btn.btn-sm.btn-outline New section
	.taskBody-view
		.taskBody-view_inner
			.taskBody-view_innerpadding
				.taskBody-view_contain.taskBody-view_tasks
					.taskBody-view_options
						.taskBody-view_options_inner
							.taskBody-view_options_left
							.taskBody-view_options_right
								a View: Tasks by date of creation #[i.ion-chevron-down]
					#tasks
						.tasks-list
							for task in tasks
								.task-item(data-task="#{task._id}")
									.toggle.rounded
									a #{task.name}
									.task-info
										p #{moment(task.created_at).fromNow()}
										if task.creator.avatar
											.tooltip
												span #{task.creator.username}
												img(src="/images/#{task.creator.avatar}")
										else
											.tooltip
												span #{task.creator.username}
												img(src="/images/default/user.jpg")
						input#nt(type="text", placeholder="Create a new task")
				.taskBody-view_contain.taskBody-view_task
					.tasks-preview
						.tasks-preview-inner
							.tasks-preview-inner_title
								.toggle.rounded
								h1 Marketing team lesgo
								.tasks-preview-inner_title_options
									i.ion-android-more-vertical
							textarea#project_area.tasks-preview-inner_description
								
						.tasks-preview-inner_comment
							.user-i
								a #{user.username.substr(0,2)}
							
							.comment-editable
								.comment-editable_inner
									.input-sm(contenteditable="true", placeholder="Write a comment...")
									.comment-editable_footer
										.comment-editable_left
											a.attach-files
												i.ion-android-attach
											a.mention
												i.ion-at
										.comment-editable_right
											a.send-comment
												i.ion-android-send
						
	
block footer
	.modal-overlay
		.view-close
			i.icon.ion-close-round
		.modal-overlay-inner
			#mod-assign.modal-outer.modal-med
				.modal-inner
					.modal-header
						h2 Assign to team
						p Select the team you want to assign #{project.name} to
					.modal-body
						input#assign(type="text")
					.modal-footer
						a.btn.exp_assign Assign to team
	script(src="/socket.io/socket.io.js")
	script.
		var editor = CodeMirror.fromTextArea(document.getElementById("project_area"), {
			lineNumbers: true
		});
		var socket = io();
		socket.on('connect', function(socket) {
			console.log('Socket connection');
		});
		socket.on('refresh', function (data) {
			console.log(data);
			editor.setValue(data.body);
		});
		socket.on('change', function (data) {
			console.log(data);
			editor.replaceRange(data.text, data.from, data.to);
		});
		editor.on('change', function (i, op) {
			console.log(op);
			socket.emit('change', op);
			socket.emit('refresh', editor.getValue());
		});
		socket.emit('pjoin', {room: '#{project._id}'});
		socket.on('new_task', function(res){
			console.log(res.creator)
			$('.tasks-list').append('<div data-task="' + res._id + '" class="task-item new-task"><div class="toggle rounded"></div><a>' + res.name + '</a><div class="task-info"><p>a few seconds ago</p><div class="tooltip"><span>' + res.creator.username + '</span><img src="/images/default/user.jpg"></div></div></div>')
			$('.new-task').slideDown('fast');
		});
		$('#nt').bind('keypress', function(e){
			if(e.which == 13) {
				$.post('/tasks', 'name=' + $('#nt').val(), function(data) {
					$('#nt').val('');
				});
			}
		});
