extends layout

block content
	.wrapper
		.contents.center
			.content
				.module-head
					h1 #{team.name}
					//- h1 #{team}
					a.btn.btn-green.inline-head.open-modal(data-modal="mod-invite") Invite new members
					ul.list-header
						li.active Members
						li Projects
						li Files
					if (team.userlist)
						if (team.userlist.length > 0)
							.list
								for member in team.userlist
									.list-item
										.list-status
											.text-preview.bg-primary
												span= member.username.substr(0,2)
										.list-inner
											a= member.fullname
											p #[span.darken-p @#{member.username}]  &bull;  #{member.email}
										.list-right
											.list-options
												span.ion-android-more-vertical
						else 
							.empty_content
								h2 No users in this team
						
block footer
	.modal-overlay
		.modal-overlay-inner
			.view-close.close-modal
				i.icon.ion-close-round
			#mod-invite.modal-outer.modal-med
				.modal-inner
					.modal-header
						h2 Invite a member
						p Invite a new user by email
					.modal-body
						input#tm(type="text", placeholder="mark.johnson@something.com")
					.modal-footer
						a.btn.btn-block.exp_invite Invite member
	script(src="/socket.io/socket.io.js")
	script.
		$('.exp_invite').click(function(){
			$.post('/teams/invite', 'team=#{team._id}&email=' + $('#tm').val(), function(data) {
				console.log(data);
			});
		});
		var socket = io();
		socket.emit('tjoin', {room: '#{team.teamid}'});
		$('.exp_addtask').click(function(){
			$.post('/tasks/'+ $('#m').val() + '/' + '#{team.teamid}', function(data) {
				$('#m').val('');
			});
		});
